<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="app-auth" type="Wuyiju.Core.ApplicationAuthorize, Wuyiju.Core" />
  </configSections>

  <connectionStrings>
    <add name="ZhiMaKaiMen" connectionString="Server=120.25.234.162;Database=xuanmao;Uid=wuyiju;Pwd=wuyiju;Charset=utf8;pooling=true;max pool size=32760;" />
    <!--<add name="ZhiMaKaiMen" connectionString="Server=localhost;Database=yys_ecplat3;Uid=root;Pwd=;Charset=utf8" />-->
  </connectionStrings>
  <appSettings>
    <!--SqlServer|MySQL|Oracle-->
    <add key="SQLDialect" value="MySQL" />
    <add key="ConsoleDAL" value="Dapper.SQLServerDAL" />
  </appSettings>

  <unity xmlns="http://schemas.microsoft.com/practces/2010/unity">
    <container name="services">
      <register type="Wuyiju.IService.IAdService,Wuyiju.IService" mapTo="Wuyiju.Service.AdService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IAdminService,Wuyiju.IService" mapTo="Wuyiju.Service.AdminService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IAdminCopyService,Wuyiju.IService" mapTo="Wuyiju.Service.AdminCopyService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IAdminScoresService,Wuyiju.IService" mapTo="Wuyiju.Service.AdminScoresService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IAdminScoresCopyService,Wuyiju.IService" mapTo="Wuyiju.Service.AdminScoresCopyService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IAdCopyService,Wuyiju.IService" mapTo="Wuyiju.Service.AdCopyService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IAdPositionService,Wuyiju.IService" mapTo="Wuyiju.Service.AdPositionService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IAdPositionCopyService,Wuyiju.IService" mapTo="Wuyiju.Service.AdPositionCopyService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IArticleService,Wuyiju.IService" mapTo="Wuyiju.Service.ArticleService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IArticleCommentsService,Wuyiju.IService" mapTo="Wuyiju.Service.ArticleCommentsService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IArticleCommentsCopyService,Wuyiju.IService" mapTo="Wuyiju.Service.ArticleCommentsCopyService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IArticleCopyService,Wuyiju.IService" mapTo="Wuyiju.Service.ArticleCopyService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IAskService,Wuyiju.IService" mapTo="Wuyiju.Service.AskService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IAttributeService,Wuyiju.IService" mapTo="Wuyiju.Service.AttributeService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IBuyService,Wuyiju.IService" mapTo="Wuyiju.Service.BuyService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IBuyActionService,Wuyiju.IService" mapTo="Wuyiju.Service.BuyActionService,Wuyiju.Service" />
      <register type="Wuyiju.IService.ICategoryService,Wuyiju.IService" mapTo="Wuyiju.Service.CategoryService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IComplaintService,Wuyiju.IService" mapTo="Wuyiju.Service.ComplaintService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IConditionService,Wuyiju.IService" mapTo="Wuyiju.Service.ConditionService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IConfigService,Wuyiju.IService" mapTo="Wuyiju.Service.ConfigService,Wuyiju.Service" />
      <register type="Wuyiju.IService.ICouponsService,Wuyiju.IService" mapTo="Wuyiju.Service.CouponsService,Wuyiju.Service" />
      <register type="Wuyiju.IService.ICouponsTypeService,Wuyiju.IService" mapTo="Wuyiju.Service.CouponsTypeService,Wuyiju.Service" />
      <register type="Wuyiju.IService.ICourseService,Wuyiju.IService" mapTo="Wuyiju.Service.CourseService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IDepositBankCardService,Wuyiju.IService" mapTo="Wuyiju.Service.DepositBankCardService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IDepositRechargeService,Wuyiju.IService" mapTo="Wuyiju.Service.DepositRechargeService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IDepositTakecashService,Wuyiju.IService" mapTo="Wuyiju.Service.DepositTakecashService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IEmailService,Wuyiju.IService" mapTo="Wuyiju.Service.EmailService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IEnrollService,Wuyiju.IService" mapTo="Wuyiju.Service.EnrollService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IFavoritesService,Wuyiju.IService" mapTo="Wuyiju.Service.FavoritesService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IFinanceAccountService,Wuyiju.IService" mapTo="Wuyiju.Service.FinanceAccountService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IFinanceCashService,Wuyiju.IService" mapTo="Wuyiju.Service.FinanceCashService,Wuyiju.Service" />
      <register type="Wuyiju.IService.ILinksService,Wuyiju.IService" mapTo="Wuyiju.Service.LinksService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IMessageService,Wuyiju.IService" mapTo="Wuyiju.Service.MessageService,Wuyiju.Service" />
      <register type="Wuyiju.IService.INodeService,Wuyiju.IService" mapTo="Wuyiju.Service.NodeService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IOrderService,Wuyiju.IService" mapTo="Wuyiju.Service.OrderService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IOrderUserService,Wuyiju.IService" mapTo="Wuyiju.Service.OrderUserService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IPaylogService,Wuyiju.IService" mapTo="Wuyiju.Service.PaylogService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IPaymentService,Wuyiju.IService" mapTo="Wuyiju.Service.PaymentService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IProductService,Wuyiju.IService" mapTo="Wuyiju.Service.ProductService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IProductAttrService,Wuyiju.IService" mapTo="Wuyiju.Service.ProductAttrService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IProductCommentsService,Wuyiju.IService" mapTo="Wuyiju.Service.ProductCommentsService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IProductImgService,Wuyiju.IService" mapTo="Wuyiju.Service.ProductImgService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IQuestionService,Wuyiju.IService" mapTo="Wuyiju.Service.QuestionService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IQuestionTypeService,Wuyiju.IService" mapTo="Wuyiju.Service.QuestionTypeService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IRegionService,Wuyiju.IService" mapTo="Wuyiju.Service.RegionService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IRoleService,Wuyiju.IService" mapTo="Wuyiju.Service.RoleService,Wuyiju.Service" />
      <register type="Wuyiju.IService.ISmsService,Wuyiju.IService" mapTo="Wuyiju.Service.SmsService,Wuyiju.Service" />
      <register type="Wuyiju.IService.ISuggestService,Wuyiju.IService" mapTo="Wuyiju.Service.SuggestService,Wuyiju.Service" />
      <register type="Wuyiju.IService.ITitleService,Wuyiju.IService" mapTo="Wuyiju.Service.TitleService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IUserService,Wuyiju.IService" mapTo="Wuyiju.Service.UserService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IUserAccountRecordsService,Wuyiju.IService" mapTo="Wuyiju.Service.UserAccountRecordsService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IUserConsigneeService,Wuyiju.IService" mapTo="Wuyiju.Service.UserConsigneeService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IUserInfoService,Wuyiju.IService" mapTo="Wuyiju.Service.UserInfoService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IUserRankService,Wuyiju.IService" mapTo="Wuyiju.Service.UserRankService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IUserScoreSettingService,Wuyiju.IService" mapTo="Wuyiju.Service.UserScoreSettingService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IVisitorService,Wuyiju.IService" mapTo="Wuyiju.Service.VisitorService,Wuyiju.Service" />
      <register type="Wuyiju.IService.IWantlearnService,Wuyiju.IService" mapTo="Wuyiju.Service.WantlearnService,Wuyiju.Service" />
    </container>
    <container name="data">
      <register type="Wuyiju.IDAL.IAccessDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.AccessDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IAccessCopyDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.AccessCopyDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IAdDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.AdDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IAdminDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.AdminDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IAdminCopyDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.AdminCopyDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IAdminScoresDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.AdminScoresDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IAdminScoresCopyDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.AdminScoresCopyDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IAdCopyDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.AdCopyDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IAdPositionDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.AdPositionDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IAdPositionCopyDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.AdPositionCopyDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IArticleDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.ArticleDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IArticleCommentsDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.ArticleCommentsDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IArticleCommentsCopyDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.ArticleCommentsCopyDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IArticleCopyDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.ArticleCopyDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IAskDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.AskDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IAskReplyDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.AskReplyDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IAttributeDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.AttributeDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IAuthItemDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.AuthItemDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IBuyDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.BuyDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IBuyActionDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.BuyActionDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.ICategoryDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.CategoryDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IComplaintDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.ComplaintDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IConditionDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.ConditionDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IConfigDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.ConfigDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.ICouponsDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.CouponsDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.ICouponsTypeDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.CouponsTypeDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.ICourseDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.CourseDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IDepositBankCardDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.DepositBankCardDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IDepositRechargeDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.DepositRechargeDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IDepositTakecashDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.DepositTakecashDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IEmailDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.EmailDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IEnrollDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.EnrollDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IFavoritesDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.FavoritesDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IFinanceAccountDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.FinanceAccountDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IFinanceCashDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.FinanceCashDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.ILinksDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.LinksDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IMessageDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.MessageDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.INodeDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.NodeDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IOrderDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.OrderDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IOrderUserDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.OrderUserDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IPaylogDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.PaylogDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IPaymentDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.PaymentDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IProductDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.ProductDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IProductAttrDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.ProductAttrDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IProductCommentsDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.ProductCommentsDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IProductImgDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.ProductImgDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IQuestionDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.QuestionDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IQuestionTypeDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.QuestionTypeDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IRegionDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.RegionDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IRoleDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.RoleDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IRoleUserDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.RoleUserDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.ISmsDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.SmsDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.ISuggestDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.SuggestDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.ITitleDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.TitleDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IUserDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.UserDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IUserAccountRecordsDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.UserAccountRecordsDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IUserConsigneeDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.UserConsigneeDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IUserInfoDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.UserInfoDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IUserRankDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.UserRankDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IUserScoreSettingDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.UserScoreSettingDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IVisitorDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.VisitorDAL,Wuyiju.DAL" />
      <register type="Wuyiju.IDAL.IWantlearnDAL,Wuyiju.IDAL" mapTo="Wuyiju.DAL.WantlearnDAL,Wuyiju.DAL" />
    </container>
  </unity>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./Logs/" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd'.log'" />
      <maxSizeToRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{yyyy-MM-dd HH:mm:ss} %-5p %c : %m%n" />
      </layout>
    </appender>
    <logger name="Wuyiju">
      <level value="Fatal" />
    </logger>
    <logger name="Wuyiju.SQL">
      <level value="DEBUG" />
    </logger>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <httpHandlers>
      <remove verb="*" path="*.aspx" />
      <add verb="*" path="*.html" type="Wuyiju.Web.MyHandlerFactory, Wuyiju.Web" />
    </httpHandlers>
    <pages validateRequest="false" enableEventValidation="false">
      <controls>
        <add tagPrefix="asp" namespace="Wuqi.Webdiyer" assembly="AspNetPager" />
        <add tagPrefix="asp" namespace="Wuyiju.Web.Utils.Controls" assembly="Wuyiju.Web.Utils" />
      </controls>
      <namespaces>
        <add namespace="Wuyiju.Web.Utils.Controls" />
      </namespaces>
    </pages>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>